build/CMakeFiles/*
build/Testing/*
build/unit_tests/*
build/unit_tests/CMakeFiles/*
build/unit_tests/CMakeFiles/brent_test.dir/*
build/unit_tests/CMakeFiles/broyden_fletcher_goldfarb_shanno_test.dir/*
build/unit_tests/CMakeFiles/davidon_fletcher_powell_tests.dir/*
build/unit_tests/CMakeFiles/fibonacci_tests.dir/*
build/unit_tests/CMakeFiles/fletcher_reeves_test.dir/*
build/unit_tests/CMakeFiles/golden_section_test.dir/*
build/unit_tests/CMakeFiles/hestenes_stiefel_test.dir/*
build/unit_tests/CMakeFiles/polak_ribiere_test.dir/*
build/unit_tests/CMakeFiles/powell_test.dir/*
build/unit_tests/CMakeFiles/steepest_descent_test.dir/*
build/unit_tests/CMakeFiles/nelder_mead_test.dir/*
build/unit_tests/CMakeFiles/test_main.dir/*
build/unit_tests/CMakeFiles/utilities_test.dir/*
build/.cmake/*
build/**
